<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<HTML>
<style>    
	html, body {
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Arial";
    }

    hr {
    	border-style: solid;
    	border-width: 2;
    }

    input {
    	border: 0;
    	outline: 0;
    	background: transparent;
    	border-bottom: 1px solid black;
    	padding: 1px;
    	word-wrap: break-word;
    	text-align: center;
    }

    textarea {
    	outline: 0;
    	background: transparent;
    	padding: 1px;
    	margin: 1px;
    	resize: none;
    }

    .alignleft {
    	float:left;
    }

    .alignright {
    	float:right;
    }

    table {
    	size = 100%;
    }
    p, ol {
    	margin: 0;
    	padding: 0;
    	size: 8.27in 11.69in;
    	word-wrap: break-word;

    }

    li {
    	list-style-position: inside;
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 8.5in;
        min-height: 11in;
    }
    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 256mm;
        outline: 2cm #FFEAEA solid;
    }
    .name {
    	width: 450px;
    }

    .parent  {
    	width: 400px;
    }

    .sn {
    	width: 135px;
    }


    #birth {
    	width: 375px;
    }
    #citizenship {
    	width: 136px;
    }
    #contact{
    	width: 600px;
    }
    @page {
        size: letter;
        margin: 0;
    }
    @media print {
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
</style>
<HEAD >
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Windows User">
	<META NAME="CREATED" CONTENT="20150710;5100000000000">
	<META NAME="CHANGEDBY" CONTENT="user">
	<META NAME="CHANGED" CONTENT="20160711;25100000000000">
	<META NAME="AppVersion" CONTENT="14.0000">
	<META NAME="Company" CONTENT="Hewlett-Packard Company">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
</HEAD>
<BODY LANG="en-PH" LINK="#0563c1" DIR="LTR">
<div class="page">
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>University
of the Philippines</B></FONT></FONT><SPAN DIR="LTR" STYLE="float: right; width: 2.01in; height: 1.78in; border: 1px solid #000000; padding: 0.05in 0.1in; background: #ffffff "><FONT FACE="Arial, serif">ID
	PHOTO</FONT>
</SPAN>
</P>
<P ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">College
of Engineering 
<br>
Melchor
Hall, Diliman, Quezon City 1101
<br>
Tel/Fax:
+632 981 8500 ext 3152</FONT></FONT></P>
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"></FONT></FONT></P>
<P  ><BR>
</P>
<P  ><BR>
</P>
<hr>
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Undergraduate
Scholarships and Study Grants</FONT></FONT></P>
<P STYLE="text-indent: 0.5in; margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B>APPLICATION
FORM</B></FONT></FONT></P>
<P><BR>
</P>
<P align=justify  ><FONT FACE="Arial, serif"><FONT SIZE=2>INSTRUCTIONS:
Accomplish this form and submit to the Office of the Associate Dean
for Student Affairs, UP College of Engineering. Attach with this form
the following: </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>1)
a letter of endorsement from your department chairperson/institute
director;    2) an SDC clearance; 3) a copy of recent Form5 with ID;
4) a copy of parents ITR;   5) TCG; and   6) Letter of intent address
to Donor/ADSA</B></U></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2>.
 Please see announcements from the Committee on Scholarships of the
UP College of Engineering for the deadline of the submission.</FONT></FONT></P>
<hr>
<fieldset>
<legend><b><p>Applicant</p></b></legend>
<P><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Name:
 <input type="text" class="name"></input>&nbsp&nbspStudent Number: 
<input type="text" class="sn"></input></FONT></FONT></P>
<P align=justify  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Date
and Place of Birth:<input type="text" id="birth"></input>&nbsp&nbspCitizenship: <input type="text" id="citizenship"></input></FONT></FONT></P>
<P align=left  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Current
Address: 
	  <textarea style="width: 750px; height: 50px" maxlength="285" ></textarea></FONT></FONT></P>
<P align=left  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Home
Address:   
<textarea style="width: 750px; height: 50px" maxlength="285"></textarea></FONT></FONT></P>
<P align=justify  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Landline/Mobile/E-mail:<input type="text" id="contact"></input></FONT></FONT></P>
</fieldset>
<BR>
<fieldset>
<LEGEND><b><P align=justify  >Parent/Guardian</P></LEGEND></b>
<P align=justify  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Name:<input type="text" style="width: 380px"></input>&nbsp&nbspContact No./E-mail:<input type="text" style="width: 200px"></input></p></FONT>
Address:<textarea style="width: 750px; height: 50px" maxlength="285"></textarea></FONT></FONT></P></fieldset><BR>
<OL>
	<LI>Name
	of Scholarship(s)/Study Grant(s) Applied for and Desired
	Semester/Year of Award:
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><FONT FACE="Arial, serif"><input type="text" style="width: 750px"></input></FONT></P>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=2><B>(</B></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>May
be left blank.</B></U></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><I><B>
The committee will endorse/nominate you for the first available
scholarship slot where you qualify.)</B></I></FONT></FONT></P>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=2>
	<LI>Year
	Entered the University:<input type="text" style="width: 100px"></input>&nbsp&nbspCurrent Year Classification:<input type="text" style="width: 80px"></input>
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=3>
	<LI>College
	Degree Sought:<input type="text" style="width: 300px"></input>
</OL>
<P  ><BR>
</P>
<OL START=4>
	<LI>Have
	you ever incurred a grade of '4' or '5' in the past two
	semesters and last mid year if enrolled?  (If yes, list the
	subjects, grades and semesters incurred.)
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><FONT FACE="Arial"><FONT SIZE=2 STYLE="font-size: 11pt"><textarea style="width: 750px; height: 100px"></textarea></FONT></FONT></P>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=5>
	<LI>Did
	you avail of the STS?<input type="text" style="width: 60px"></input>&nbsp&nbsp (If yes, what tuition fee discount
	level are you in?)  <input type="text" style="width: 40px"></input>
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=6>
	<LI>Estimated
	Gross Family Income of Parents/Guardian (Annual)
	:<input type="text" style="width: 300px"></input>
</OL>
</div>
<br>
<div class="page">
<OL START=7>
	<LI>Are
	you receiving any scholarship/grant/assistance?  <input type="text" style="width: 60px; text-align: center"></input>If yes,
	kindly provide the following details:
	<OL TYPE=a STYLE="margin-left: 0.25in">
		<LI>Name
		of the funding agency:  <input type="text" style="width: 320px; text-align: center"></input>
		<LI>Benefits
		(in Peso): <input type="text" style="width: 430px; text-align: center"></input>
		<LI>Duration: <input type="text" style="width: 400px; text-align: center"></input>
		<LI>Does
		the funding agency allow you to have other
		scholarships/grants/assistance? <input type="text" style="width: 60px"></input>
	</OL>
</OL>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><BR>
</P>
<OL START=8>
	<LI>Have
	you been guilty of participating in any violent incident, whether on
	campus or off-campus?  (If yes, please explain under what
	circumstances.)
</OL><textarea style="width: 750px; height: 50px" maxlength="285"></textarea>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=9>
	<LI>Have
	you been subjected to any disciplinary action involving a penalty of
	at least five (5) days suspension, or found guilty of a more serious
	offense?  (If yes, please explain.) <textarea style="width: 750px; height: 75px" maxlength="285"></textarea>
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=10>
	<LI>Family
	Background
</OL>
<TABLE WIDTH=100% CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=186>
	<COL WIDTH=81>
	<COL WIDTH=28>
	<COL WIDTH=44>
	<COL WIDTH=95>
	<COL WIDTH=79>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Name</FONT></FONT></P>
		</TD>
		<TD WIDTH=15% STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Relationship</FONT></FONT></P>
		</TD>
		<TD WIDTH=8% STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Age</FONT></FONT></P>
		</TD>
		<TD WIDTH=10% STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Marital
			Status</FONT></FONT></P>
		</TD>
		<TD WIDTH=22% STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Living
			with you? (Yes/No)</FONT></FONT></P>
		</TD>
		<TD WIDTH=12% STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Occupation</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=186 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=44 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=95 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=79 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=186 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=44 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=95 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=79 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=186 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=44 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=95 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=79 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=186 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=44 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=95 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=79 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=186 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=44 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=95 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=79 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=186 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=44 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=95 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=79 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=186 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=44 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=95 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=79 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P  ><BR>
</P>
<OL START=11>
	<LI>Describe
	briefly why you should be awarded the scholarship/grant applied for?
</OL><textarea style="width: 750px; height: 200px" maxlength="285"></textarea>
<P  ><BR>
</P>
<P  ><BR>
</P>
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">I
declare under penalties of perjury that this application has been
accomplished in good faith, verified by me and to the best of my
knowledge and belief, is true.</FONT></FONT></P>
<P  ><BR>
</P>
<P  ><BR>
</P>
<div id="textbox">
<P class="alignleft"><input type="text" style="width: 380px"></P>
<P class="alignright"><input type="text" style="width: 150px"></P>
</div>
<br>
<div id="textbox">
<P class="alignleft" style="margin-left: 0.8in">Signature
over Printed Name </P>
<P class="alignright" style="margin-right: 0.6in">Date</P>
</div>
<P  ><BR>
</P>
<br>
<P  ><A NAME="_GoBack"></A><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>PLEASE
SEND SOFT COPY OF ALL DOCUMENTS TO </B></FONT></FONT><A HREF="mailto:mparciga@yahoo.com"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="text-decoration: none"><B>mparciga@yahoo.com</B></SPAN></FONT></FONT></FONT></A><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt">.
Then, SUBMIT </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>HARD
COPIES TO MH209.</B></FONT></FONT>
</div>
</BODY>
</HTML>