<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%= 
	pdf = WickedPdf.new.pdf_from_html_file('/appForm.html.erb')
	save_path = Rails.root.join('pdfs', 'google.pdf')
	File.open(save_path, 'wb') do |file|
		file << pdf
	end
	%>